<article *ngIf="project">
  <header><h2>Create character</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="project.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="difficulty">Difficulty:</label>
          <input id="difficulty" name="difficulty" [(ngModel)]="project.difficulty"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Create</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm()">Reset</button>
      </div>
    </div>
  </form>
</article>
